body{
    scroll-behavior: smooth;
}

section{
    padding: 60px 30px;
}

#tab-content{
    padding: 20px;
}

#table-users tr:nth-child(even){
    background-color: rgb(230, 230, 230);
    color: #444;
}

#table-users button{
    padding: 1px 5px;
}

#table-head{
    position: sticky;
    top: 0;
    background-color: #fff;
}

table{
    position: relative;
    table-layout: fixed;
}

thead{
    background-color: rgba(80, 80, 245);
    color: #fff;
}

th{
    position: sticky;
    top: 0;
    margin-top: 0;
    background-color: rgba(80, 80, 245);
    border: 0 !important;
}

tr th:first-child{
    width: 80px;
}

tr input{
    height: 28px !important;
    width: 100% !important;
}

td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px 12px !important;
}

tr td:nth-child(1){
    font-weight: 700;
}
tr td:nth-child(2){
    text-transform: uppercase;
}

#edit-err-box{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

#user-count{
    display: inline-block;
    margin-left: 5px;
    min-width: 19px;
    text-align: center;
}

#users-tab{
    display: inline-flex;
    align-items: center;
}

#user-form{
    position: relative;
    margin: 0 auto;
    max-width: 410px;
}

#user-form small{
    display: inline;
    position: absolute;
    right: 10px;
}

#edit-errors{
    position: fixed;
    top: -50px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    z-index: 5;
    padding: 12px;
    background-color: crimson;
    color: #fff;
    border-bottom: 1px solid crimson;
    transition: top 1s;
}