body{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

section{
    padding: 60px 30px;
}

#tab-content{
    padding: 20px;
}

#table-users tr:nth-child(even){
    background-color: rgb(241, 241, 241);
    color: #444;
}

#table-users button{
    padding: 1px 5px;
}

table{
    position: relative;
    table-layout: fixed;
}

thead{
    background-color: rgb(39, 139, 233);
    color: #fff;
    border: 0 !important;
}

th{
    border: 0 !important;
}

tr{
    transition: background-color 1.2s, color 1.2s;
}

tr th:first-child{
    width: 80px;
}

tr input{
    height: 28px !important;
    width: 100% !important;
}

td{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px 12px !important;
}

tr td:nth-child(1){
    font-weight: 700;
}
tr td:nth-child(2){
    text-transform: capitalize;
}
tr button{
    width: 40px;
}
tr td:nth-child(1) button{
    border-radius: 50%;
    width: 27px;
}

#edit-err-box{
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

#user-count{
    position: absolute;
    margin-left: 10px;
    top: 11px;
}

#users-tab{
    position: relative;
}

#user-form{
    position: relative;
    margin: 0 auto;
    max-width: 410px;
    color: rgb(61, 61, 61);
}

#create h3{
    color: rgb(80, 80, 80);
    font-weight: 300;
}

#user-form input{
    border: 0;
    border-bottom: 1px solid rgba(105, 105, 105, 0.616);
    border-radius: 0;
}
#user-form input:focus{
    border-color: rgb(76, 62, 199);
}

#user-form small{
    display: inline;
    position: absolute;
    left: 10px;
}

#user-form button{
    border-radius: 20px;
}

.form-icon{
    position: absolute;
    right: 10px;
    bottom: 7px;
    color: rgba(66, 39, 187, 0.596);
}

#edit-errors{
    position: fixed;
    top: -50px;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    z-index: 5;
    padding: 12px;
    background-color: crimson;
    color: #fff;
    border-bottom: 1px solid crimson;
    transition: top 1s;
}

#user-sort{
    margin-bottom: 15px;
}
#user-sort select:first-child{
    border-right: 0;
    border-radius: 15px 0 0 15px;
}
#user-sort select:nth-child(2){
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#user-sort select:focus{
    border-color: #ccc;
}

#users button,#users select,#users input{
    height: 27px !important;
    padding: 0px 5px !important;
    border-radius: 15px;
}

#user-sort button{
    width: 30px;
}

#user-search input{
    border-radius: 0 15px 15px 0 !important;
}

#user-search button{
    border-radius: 20px;
}

#clear-search{
    width: 30px;
    border-radius: 15px 0 0 15px !important;
}

.user-found{
    background-color: rgba(137, 255, 147, 0.747) !important;
    color: rgb(0, 0, 0) !important;
}

button i{
    pointer-events: none;
}